body {
	text-align: justify;
}

.logo {
	width: 130px;
	display: inline-block;
	padding-right: 15px;
	vertical-align: top;
}

.site-title{
	display: inline-block;
}

.float-right {
	float: right;
	margin-left: 10px;
}

.max-400 {
	max-width: 600px;
}

img {
	width: 100%;
}