{{ define "main" }}
<main class="homepage container py-6">
    <!-- Hero -->
    <div class="hero row">
        <div class="">
            {{- with .Site.Params.homepageImage -}}
                <div class="logo">
                    <img src="{{ . | relURL }}" class="logo">
                </div>
            {{- end -}}

            <div class="site-title"><h1 class="">{{ .Site.Title }}</h1>
            {{- with .Site.Params.description -}}
                <h4 class="font-weight-normal">{{ . | safeHTML }}</h4>
            {{- end -}}
        </div>
    </div>
</div>
    <!-- Latest article -->
    
        <div class="">
            {{ .Content }}
        </div>
</main>
{{ end }}
